@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */

body {
  @apply dark:bg-indigo-900 dark:text-white;
  @apply h-screen text-sm;
}

#__next {
  @apply h-full;
}
